<div xmlns:hive="http://typo3.org/ns/HIVE/HiveCptCntImg/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:hiveExtForm="http://typo3.org/ns/HIVE/HiveExtForm/ViewHelpers"
     v:schemaLocation="https://fluidtypo3.org/schemas/vhs-master.xsd">

    <f:layout name="Default" />

    <f:section name="main">
        <a name="p{pluginUid}" id="p{pluginUid}"></a>
        <f:if condition="{case} == 0">
            <f:then>
                <f:render partial="Render/Errors" arguments="{errors: errors}" />

                {localizations_for_java_script -> f:format.raw()}

                <f:form action="render" controller="Render" additionalAttributes="{method: 'post', data-post-max-size: '{post_max_size}', data-post-max-size-ini: '{post_max_size_ini}', class: 'tx_hive-ext-form__form'}"
                        name="{form.vars.id}"
                        id="{form.vars.id}"
                        section="p{pluginUid}"
                        fieldNamePrefix="{form.vars.id}"
                        enctype="multipart/form-data">

                    <v:security.allow anyBackendUser="TRUE">
                        <span style="position: relative;top: 0px;right: 0px;">
                            <span class="badge badge-info">session: '{processNumber}' // processNumber</span>
                        </span>
                    </v:security.allow>

                    <f:for each="{form.children}" as="val" key="key" iteration="i">
                        <f:if condition="{val.vars.block_prefixes.1} == 'hidden'">
                            <f:render section="HiddenType" arguments="{val: val}"/>
                        </f:if>
                    </f:for>

                    <v:variable.set name="fs" value="" />
                    <f:render section="fs_open" />

                    <f:for each="{form.children}" as="val" key="key" iteration="i">

                        <f:if condition="{val.vars.block_prefixes.1} == 'hidden' || {val.vars.block_prefixes.1} == 'submit'">
                            <f:else>
                                <v:variable.set name="fs_current" value="{val.vars.attr.fieldset}" />

                                <f:if condition="{fs} == ''">
                                    <v:variable.set name="fs" value="{fs_current}" />
                                </f:if>

                                <f:if condition="{fs_current} != {fs}">
                                    <f:then>
                                        <v:variable.set name="fs" value="{fs_current}" />
                                        <f:render section="fs_close" />
                                        <f:render section="fs_open" />
                                    </f:then>
                                </f:if>

                                <f:variable name="{key}" value="{val}"/>
                                <f:variable name="type" value="text"/>
                                <f:if condition="{val.vars.block_prefixes.1} == 'text'">
                                    <f:if condition="{val.vars.block_prefixes.2} == 'email'">
                                        <f:variable name="type" value="email"/>
                                    </f:if>
                                    <f:if condition="{val.vars.block_prefixes.2} == 'readonly'">
                                        <f:variable name="type" value="readonly"/>
                                    </f:if>
                                    <f:if condition="{val.vars.block_prefixes.2} == 'textarea'">
                                        <f:then>
                                            <f:render section="TextareaType" arguments="{val: val, type: type}"/>
                                        </f:then>
                                        <f:else>
                                            <f:render section="TextType" arguments="{val: val, type: type}"/>
                                        </f:else>
                                    </f:if>
                                </f:if>
                                <f:if condition="{val.vars.block_prefixes.1} == 'file'">
                                    <f:render section="FileType" arguments="{val: val, type: type}"/>
                                </f:if>
                                <f:if condition="{val.vars.block_prefixes.1} == 'checkbox'">
                                    <f:render section="CheckboxType" arguments="{val: val, type: type}"/>
                                </f:if>
                                <f:if condition="{val.vars.block_prefixes.1} == 'choice'">
                                    <f:if condition="{val.vars.block_prefixes.2} == 'country' || {val.vars.block_prefixes.2} == 'language'">
                                        <f:then>
                                            <f:render section="CountryAndLanguageType" arguments="{val: val, type: type}"/>
                                        </f:then>
                                        <f:else>
                                            <f:render section="ChoiceType" arguments="{val: val, type: type}"/>
                                        </f:else>
                                    </f:if>
                                </f:if>
                                <f:if condition="{val.vars.block_prefixes.1} == 'html'">
                                    <f:render section="HtmlType" arguments="{val: val, type: type}"/>
                                </f:if>
                            </f:else>
                        </f:if>

                    </f:for>

                    <f:render section="fs_close" />

                    <f:render section="fs_open" />
                    <div class="form-row">
                        <div class="form-group">
                            <f:for each="{form.children}" as="val" key="key" iteration="i">
                                <f:if condition="{val.vars.block_prefixes.1} == 'submit'">
                                    <f:render section="SubmitType" arguments="{val: val}"/>
                                </f:if>
                            </f:for>
                        </div>
                    </div>
                    <f:render section="fs_close" />

                </f:form>
            </f:then>
        </f:if>

        <f:if condition="{case} == 1">
            <f:then>
                <f:if condition="{doubleOptIn}">
                    <f:then>
                        <div class="alert alert-success" role="alert">
                            {oForm.textSubmit-> f:format.raw()}
                        </div>
                    </f:then>
                    <f:else>
                        <f:if condition="{confirm.0} == 1">
                            <f:then>
                                <div class="alert alert-success" role="alert">
                                    <f:if condition="{sCustomTextSubmit} != ''">
                                        <f:then>
                                            {sCustomTextSubmit -> f:format.raw()}
                                        </f:then>
                                        <f:else>
                                            {oForm.textSubmit -> f:format.raw()}
                                        </f:else>
                                    </f:if>

                                    <hr />
                                    <small>{confirm.1}</small>
                                </div>
                            </f:then>
                            <f:else>
                                <f:if condition="{confirm.0} == 2">
                                    <f:then>
                                        <div class="alert alert-success" role="alert">
                                            {oForm.textSubmit-> f:format.raw()}
                                            <hr />
                                            <small>{confirm.1}</small>
                                        </div>
                                    </f:then>
                                    <f:else>
                                        <div class="alert alert-warning" role="alert">
                                            <hr />
                                            <small>{confirm.1}</small>
                                        </div>
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>

            </f:then>
        </f:if>

        <f:if condition="{case} == 2">
            <f:then>
                <f:if condition="{confirm.0} == 1">
                    <f:then>
                        <div class="alert alert-success" role="alert">
                            {oForm.textConfirm -> f:format.raw()}
                            <hr />
                            <small>{confirm.1}</small>
                        </div>
                    </f:then>
                    <f:else>
                        <f:if condition="{confirm.0} == 2">
                            <f:then>
                                <div class="alert alert-success" role="alert">
                                    {oForm.textConfirm -> f:format.raw()}
                                    <hr />
                                    <small>{confirm.1}</small>
                                </div>
                            </f:then>
                            <f:else>
                                <div class="alert alert-warning" role="alert">
                                    <hr />
                                    <small>{confirm.1}</small>
                                </div>
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>
            </f:then>
        </f:if>

    </f:section>

    <f:section name="fs_open">
        <fieldset>
    </f:section>

    <f:section name="fs_close">
        </fieldset>
    </f:section>

    <f:section name="AttrHelp">
        <f:if condition="{val.vars.attr.help}">
            <small class="form-text text-muted">{val.vars.attr.help}</small>
        </f:if>
    </f:section>

    <f:section name="AttrInputGroupAddon">
        <f:if condition="{type} == 'email'">
            <div class="input-group-prepend">
                <div class="input-group-text">@</div>
            </div>
        </f:if>
        <f:if condition="{type} == 'readonly'">
            <div class="input-group-prepend">
                <div class="input-group-text">&check;</div>
            </div>
        </f:if>
    </f:section>

    <f:section name="TextType">
        <div class="form-group">
            <label>{val.vars.label -> f:format.raw()}</label>
            <div class="input-group">
                <f:render section="AttrInputGroupAddon" arguments="{type: type}" />
                <f:if condition="{type} == 'readonly'">
                    <f:then>
                        <f:form.textfield type="{type}" class="form-control" name="{val.vars.name}" value="{val.vars.attr.value}" placeholder="{val.vars.attr.value}" readonly="readonly" />
                        <v:security.allow anyBackendUser="TRUE">
                            <span style="position: absolute;top:-25px;right: 0px;">
                                <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
                            </span>
                        </v:security.allow>
                    </f:then>
                    <f:else>
                        <f:form.textfield type="{type}" class="form-control" name="{val.vars.name}" value="{val.vars.value}" placeholder="{val.vars.attr.placeholder}" />
                        <f:if condition="{val.vars.required} == '1'">
                            <f:then>
                                <f:if condition="{type} == 'email'">
                                    <f:then>
                                        <v:security.allow anyBackendUser="TRUE">
                                        <span style="position: absolute;top:-25px;right: 0px;">
                                            <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
                                            <span class="badge badge-dark">{val.vars.name}</span>
                                        </span>
                                        </v:security.allow>
                                    </f:then>
                                    <f:else>
                                        <v:security.allow anyBackendUser="TRUE">
                                        <span style="position: absolute;top:-25px;right: 0px;">
                                            <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
                                            <span class="badge badge-light">{val.vars.name}</span>
                                        </span>
                                        </v:security.allow>
                                    </f:else>
                                </f:if>
                            </f:then>
                            <f:else>
                                <f:if condition="{type} == 'email'">
                                    <f:then>
                                        <v:security.allow anyBackendUser="TRUE">
                                        <span style="position: absolute;top:-25px;right: 0px;">
                                            <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
                                        </span>
                                        </v:security.allow>
                                    </f:then>
                                    <f:else>
                                        <v:security.allow anyBackendUser="TRUE">
                                        <span style="position: absolute;top:-25px;right: 0px;">
                                            <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
                                        </span>
                                        </v:security.allow>
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>
            </div>
            <f:render section="AttrHelp" arguments="{val: val}" />
        </div>
    </f:section>

    <f:section name="HiddenType">
        <v:security.allow anyBackendUser="TRUE">
            <div style="position: relative;top:0px;right: 0px;">
                <span class="badge badge-info">session: '{val.vars.attr.session}' // hidden {val.vars.name}</span>
            </div>
        </v:security.allow>
        <f:form.hidden name="{val.vars.name}" value="{val.vars.value}" />
    </f:section>

    <f:section name="TextareaType">
        <div class="form-group">
            <label>{val.vars.label -> f:format.raw()}</label>
            <div class="input-group">
                <f:form.textarea class="form-control" name="{val.vars.name}" value="{val.vars.value}" placeholder="{val.vars.attr.placeholder}"/>
                <v:security.allow anyBackendUser="TRUE">
                    <span style="position: absolute;top:-25px;right: 0px;">
                        <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
                    </span>
                </v:security.allow>
            </div>
            <f:render section="AttrHelp" arguments="{val: val}" />
        </div>
    </f:section>

    <f:section name="FileType">
        <div class="form-group">
            <label>{val.vars.label -> f:format.raw()}</label>
            <f:if condition="{val.vars.attr.constraints}">
                <f:then>
                    <f:if condition="{val.vars.attr.constraints.maxSize} && {val.vars.attr.constraints.mimeTypes}">
                        <f:then>
                            <f:form.upload class="form-control form-control-file" name="{val.vars.name}" id="{val.vars.id}"
                                           additionalAttributes="{data-max-size: '{val.vars.attr.constraints.maxSize}', data-max-size-h: '{val.vars.attr.constraints.maxSizeString}', data-mime-types: '{val.vars.attr.constraints.mimeTypes}'}" />
                        </f:then>
                        <f:else>
                            <f:if condition="{val.vars.attr.constraints.maxSize}">
                                <f:then>
                                    <f:form.upload class="form-control form-control-file" name="{val.vars.name}" id="{val.vars.id}"
                                                   additionalAttributes="{data-max-size: '{val.vars.attr.constraints.maxSize}', data-max-size-h: '{val.vars.attr.constraints.maxSizeString}'}" />
                                </f:then>
                                <f:else>
                                    <f:form.upload class="form-control form-control-file" name="{val.vars.name}" id="{val.vars.id}"
                                                   additionalAttributes="{data-mime-types: '{val.vars.attr.constraints.mimeTypes}'}" />
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:then>
                <f:else>
                    <f:form.upload class="form-control form-control-file" name="{val.vars.name}" id="{val.vars.id}" />
                </f:else>
            </f:if>
            <v:security.allow anyBackendUser="TRUE">
                    <span style="position: absolute;top: 5px;right: 0px;">
                        <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
                    </span>
            </v:security.allow>
            <f:render section="AttrHelp" arguments="{val: val}" />
            <div class="invalid-feedback file-invalid-feedback" id="invalid-feedback-{val.vars.id}"></div>
        </div>
    </f:section>

    <f:section name="CheckboxType">
        <div class="form-group">
            <f:render section="AttrInputGroupAddon" arguments="{type: type}" />
            <div class="form-check">
                <f:comment>
                    Workaround for empty checkboxes

                    hiveExtForm:form.checkboxWithoutHiddenInputField overrides standard f:form.checkbox cause it renders a hidden input field with
                    same the name as checkbox field. This confuses symfony => checkbox validates as checked even if not checked. So we use a workaround here.

                    See also: RenderController and sessionService

                    Info: {val.vars.value} is never set correctly. I don't know why, so I set the value to '1'.
                          If not checked it does not matter what is set here, so who cares.
                </f:comment>
                <hiveExtForm:form.checkboxWithoutHiddenInputField name="{val.vars.name}" value="1" checked="{val.vars.data}" class="form-check-input" />
                <label class="form-check-label" for="{val.vars.name}">{val.vars.label -> f:format.raw()}</label>
            </div>

            <v:security.allow anyBackendUser="TRUE">
                <span style="position: absolute;top: 0px;right: 0px;">
                    <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
                </span>
            </v:security.allow>
            <f:render section="AttrHelp" arguments="{val: val}" />
        </div>
    </f:section>

    <f:section name="ChoiceType">
        <div class="form-group">
            <label for="{val.vars.name}">{val.vars.label -> f:format.raw()}</label>
            <f:form.select name="{val.vars.name}" class="form-control"><!-- prependOptionValue="" prependOptionLabel="---" -->
                <f:for each="{val.vars.choices}" as="optiongroupOrOption" key="i">
                    <f:if condition="{optiongroupOrOption.choices}">
                        <f:then>
                            <f:form.select.optgroup label="{optiongroupOrOption.label -> f:format.raw()}">
                                <f:for each="{optiongroupOrOption.choices}" as="option" key="ii">
                                    <f:if condition="{val.vars.data} == {option.value}">
                                        <f:then>
                                            <hiveExtForm:form.select.optionWithEmptyValue value="{option.value}" selected="selected">{option.label -> f:format.raw()}</hiveExtForm:form.select.optionWithEmptyValue>
                                        </f:then>
                                        <f:else>
                                            <hiveExtForm:form.select.optionWithEmptyValue value="{option.value}">{option.label -> f:format.raw()}</hiveExtForm:form.select.optionWithEmptyValue>
                                        </f:else>
                                    </f:if>
                                </f:for>
                            </f:form.select.optgroup>
                        </f:then>
                        <f:else>
                            <f:if condition="{val.vars.data} == {optiongroupOrOption.value}">
                                <f:then>
                                    <hiveExtForm:form.select.optionWithEmptyValue value="{optiongroupOrOption.value}" selected="selected">{optiongroupOrOption.label -> f:format.raw()}</hiveExtForm:form.select.optionWithEmptyValue>
                                </f:then>
                                <f:else>
                                    <hiveExtForm:form.select.optionWithEmptyValue value="{optiongroupOrOption.value}">{optiongroupOrOption.label -> f:format.raw()}</hiveExtForm:form.select.optionWithEmptyValue>
                                </f:else>
                            </f:if>

                        </f:else>
                    </f:if>
                </f:for>
            </f:form.select>
            <f:render section="AttrHelp" arguments="{val: val}" />

            <v:security.allow anyBackendUser="TRUE">
                <span style="position: absolute;top: 5px;right: 0px;">
                    <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
                </span>
            </v:security.allow>

        </div>
    </f:section>

    <f:section name="CountryAndLanguageType">
        <div class="form-group">
            <label for="{val.vars.name}">{val.vars.label -> f:format.raw()}</label>
            <f:form.select name="{val.vars.name}" class="form-control" prependOptionValue="" prependOptionLabel="{val.vars.placeholder}"><!-- prependOptionValue="" prependOptionLabel="---" -->
                <f:if condition="{val.vars.preferred_choices -> f:count()} > 0">
                    <f:then>
                        <f:for each="{val.vars.preferred_choices}" as="option" key="i">
                            <f:if condition="{val.vars.data} == {option.value}">
                                <f:then>
                                    <f:form.select.option value="{option.value}" selected="selected">{option.label -> f:format.raw()}</f:form.select.option>
                                </f:then>
                                <f:else>
                                    <f:form.select.option value="{option.value}">{option.label -> f:format.raw()}</f:form.select.option>
                                </f:else>
                            </f:if>
                        </f:for>
                    </f:then>
                </f:if>
                <f:form.select.optgroup label="{val.vars.separator}">
                    <f:for each="{val.vars.choices}" as="option" key="i">
                        <f:if condition="{val.vars.data} == {option.value}">
                            <f:then>
                                <f:form.select.option value="{option.value}" selected="selected">{option.label -> f:format.raw()}</f:form.select.option>
                            </f:then>
                            <f:else>
                                <f:form.select.option value="{option.value}">{option.label -> f:format.raw()}</f:form.select.option>
                            </f:else>
                        </f:if>
                    </f:for>
                </f:form.select.optgroup>
            </f:form.select>
            <f:render section="AttrHelp" arguments="{val: val}" />

            <v:security.allow anyBackendUser="TRUE">
                <span style="position: absolute;top: 5px;right: 0px;">
                    <span class="badge badge-info">session: '{val.vars.attr.session}'</span>
                </span>
            </v:security.allow>

        </div>
    </f:section>

    <f:section name="HtmlType">
        <f:form.hidden name="{val.vars.name}" value="{val.vars.label -> f:format.raw()}"/>
        {val.vars.label -> f:format.raw()}
    </f:section>

    <f:section name="SubmitType">
        <f:form.submit class="btn btn-primary btn-submit" name="{val.vars.name}" value="{val.vars.label -> f:format.raw()}"/>
    </f:section>
</div>
